@using LoginRegistrationInMVCwithDatabase.Models;
@model List<Order>
@{
    Layout = null;
}


<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!--Custom styles-->
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .embed-responsive .card-img-top {
        object-fit: cover;
    }

    .container {
        margin-top: 50px;
    }
</style>
<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="top-header">

        <ul class="pull-right m-none">
            <li>

                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Orders", "ProceedToOrder", "Cart")
                    @Html.ActionLink("Cart", "AddToCart", "Cart")
                    @Html.ActionLink("Home", "Index", "Account")
                    @Html.ActionLink("Log Out", "Logout", "Account")

                }
                else
                {

                    @Html.ActionLink("Login", "Login", "Account")
                }
            </li>
            <li>
                @if (!Request.IsAuthenticated)
                {
                    @Html.ActionLink("Register", "Register", "Account")
                }

            </li>
        </ul>
    </div>
</div>


<div class="container body-content">


    @if (Request.IsAuthenticated)
    {

        <!--Order List Start-->

        <div class="col-lg-12">
            <div class="card card-info border border-info">
                <div>
                    <h3 class="card-title text-primary"><b>Orders List</b></h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="card-body" style="height:400px;overflow-y: scroll;">
                    <div class="table-responsive table-striped table-hover">
                        <table class="table table-card no-margin"  style="font-size:11px">
                            <thead>
                                <tr class="text-primary">
                                    <th style="width:220px">Order_id</th>
                                    <th style="width:220px">Name</th>
                                    <th style="width:220px">Price</th>
                                    <th style="width:220px">Order Date And Time</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (Order item in Model)
                                {
                                    <tr>
                                        <td>@item.Order_id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Price</td>
                                        <td>@item.OrderDate</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div>

        <!--Order List End-->

    }

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


